.app {
  height: 200vh;

  background-color: #000000;
}

.wrapper {
  position: sticky;
  top: 0;

  transition: padding 300ms ease;

  &.detached {
    padding: 8px 16px;
  }

  z-index: 1;
}

.header {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.25);

  padding: 8px 32px 8px 16px;

  overflow: hidden;

  transition:
    padding 300ms ease,
    border-radius 300ms ease;
}

.wrapper.detached .header {
  border-radius: 16px;
  padding: 0 16px 0 0;
}

.navigation {
  height: 64px;

  /* background-color: blue; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0px 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;

  border-radius: 16px;
  padding: 0px 24px;

  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
}




.locations {
  height: 100%;

  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  font-size: 18px;

  border-radius: 16px;

  padding: 0px 24px;

  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.links {
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  border-radius: 28px;
  
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

article {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
