.app {
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
  user-select: none;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -1;
}

.time {
  font-size: 64px;
  font-weight: bold;
}

.card {
  position: relative;

  padding: 16px;

  transform-style: preserve-3d;
  transform:
    perspective(5000px)
    rotateX(var(--rotateX))
    rotateY(var(--rotateY));

  transition: transform 200ms var(--easing-standard);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image:
    linear-gradient(
      to bottom right,
      rgba(76, 0, 255, 0.3),
      rgba(255, 0, 0, 0.3)
    );
  transform: translateZ(-32px);
  border-radius: 28px;

  box-shadow: 12px 6px 32px rgba(0, 0, 0, 0.25);
}
