* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

}

:root {
  font-family: "Roboto Flex", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  user-select: none;
}

body {
  min-height: 100vh;
  font-size: 14px;
}

.material-symbols-rounded {
  line-height: normal;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
